---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'gerbrandsblog';
      var disqus_path = window.location.pathname;
      /*
/2011/02/19/wicket-exception-when-using-wrong-order-in-addcomponent/
      */
      var re=new RegExp("(/(2006|2007|2008|2009|2010|2011)/\\d\\d)(/\\d\\d/)(.*)");
      if (re.test(disqus_path)) {
        disqus_path = disqus_path.replace(re,"$1\/$4");
      }
      console.log(disqus_path);
      var disqus_url = 'https://www.functional-consulting.nl'+disqus_path;
      console.log("discus"+disqus_url);
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</div>
